---
title: Personas
---

<h1><%= current_page.data.title %></h1>
<p class="lead">Essential to any new project, and to successful products, is capturing user needs.</p>
<p>One product we can use to help capture those needs is the "Persona".</p>
<p>A persona is a snapshot of either a potential or current user of your system. You create them to help inform your decisions. They also put a stake in the ground to where your team understands its users - for better or worse!</p>
<p>What a persona actually looks like can vary from team to team and reseacher to researcher.</p>
<p>At their heart, a persona is a product in which you sketch out a person, their wants and needs, their background and what they look and think like and because projects are different, and the people who create them are too, this means they are a varied product</p>
<h2 id="general-patterns">General Patterns</h2>
<p>A general pattern for personas are to feature an image, some basic biographical information and a reflection of that person's personality, either in quote or story form.</p>
<h2 id="potential-pitfalls">Potential Pitfalls</h2>
<h2 id="our-pattern">Our Pattern</h2>
<p>Personas are a great way or sketching out how you see your users, and placing a stake in the ground from where your journey begins, as well as helping non-technical teams articulate what they want a solution to provide. As such, two powerful uses of a persona are such:</p>
<ul>
  <li><strong>Team-driven personas</strong> - providing a point of reference of how the technical team sees their current/potential users</li>
  <li><strong>Client-driven personas</strong>Acting as a tool to unearth how front-line staff see their service users or how a non-technical team see service users</li>
</ul>
<p>One split between the two types of personas is that the personas written by the technical team (team-driven personas) should constantly be updated as the team learns more. It should be a living document without a single owner. Something consulted often, and not created once and looked at twice.</p>
<p>The alternative client-driven personas, although not necessarily static, are a reflection of the client's understanding, which act as an unearthing device and help them verbalise their needs, and start the process of dialogue with the technical team.</p>



<% content_for :sidebar_right do %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Sections</h3>
  </div>
  
  <ul class="list-group">
    <li class="list-group-item">
      <a href="#general-patterns">General Patterns</a>
    </li>
  </ul>
</div>

<%= partial "partials/sidebar-module.html.erb" %>

<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Downloads</h3>
  </div>
  
  <ul class="list-group">
    <li class="list-group-item">
      ...
    </li>
  </ul>
</div>

<% end %>