<footer>
  <hr>
  <ul class="list-inline">
    <li><%= link_to "Home", "/index.html" %></li>
    <li><% link_to "Modules", "/modules.html" %></li>
    <li><a role="button" href="https://github.com/GrilloPress/NHS-digital-service-toolkit" target="_blank">Github repo</a></li>
  </ul>
</footer>