<ul class="nav navbar-stacked">
  <li>
    <%= link_to "Home", "/index.html" %>
  </li>
  <li>
    <%= link_to "About", "/about.html" %>
  </li>
  <li>
    <%= link_to "Modules", "/modules.html" %>
  </li>
</ul>