---
title: About
---

<h1><%= current_page.data.title %></h1>

<p class="lead">The NHS toolkit is a collection of articles, resources and downloads to help people create better digital services for the NHS</p>
<p>The toolkit is cut into seperate modules that help shape some advice and guidance on building cost effective, user focused digital products - regardless of whether that product is for medical practitioners, related professionals, patients or the general public.</p>
<p>This guide generally focuses on the methods available developers and researchers should use to generate quality user research and products with high quality user experience. Some general advice and pointers on UI and design is also given, though that is not the main focus of this toolkit.</p>
<p>Available modules:</p>
<ul>
  <% data.modules.module.each do |x| %>
      <% link_to x['slug'] do %>
        <li><%= x['title'] %></li>
      <% end %>
  <% end %>
</ul>
<h2 id="contributors">Contributors</h2>
<p>This project was created by <a href="https://twitter.com/AndrewDuck_" target="_blank">Andrew Duckworth</a></p>

<h2 id="disclaimer">Disclaimer</h2>
<p>Although this guide is intended for people working within or with the NHS, it does not speak on behalf of the NHS. It is the sole property and output of <a href="#contributors">the authors of the toolkit</a> and not any NHS organisation.</p>

<h2 id="copyright">Copyright</h2>
<p>This work is licensed under an <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/" target="_blank">Attribution-NonCommercial-ShareAlike 4.0 International license</a>.</p>
<p>Essentially this means that you must credit the authors of the guide, and not resell or use this guide for commercial reasons. You must also use the same non-commercial license if you remix any part of this work.</p>
<p>Naturally, parts of this work builds upon or leverages other works. The copyright of any code, <a href="https://github.com/GrilloPress/NHS-digital-service-toolkit/commits?author=GrilloPress" target="_blank">found in the official github repo</a>, remain with the author of any respective projects used.</p>

<% content_for :sidebar_right do %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Sections</h3>
  </div>
  
  <ul class="list-group">
    <li class="list-group-item"><a href="#contributors">Contributors</a></li>
    <li class="list-group-item"><a href="#disclaimer">Disclaimer</a></li>
    <li class="list-group-item"><a href="#copyright">Copyright</a></li>
  </ul>
</div>

<a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/"><img alt="Creative Commons Licence" style="border-width:0" src="https://i.creativecommons.org/l/by-nc-sa/4.0/80x15.png" /></a><br /><span xmlns:dct="http://purl.org/dc/terms/" property="dct:title">NHS Digital Toolkit</span> by <span xmlns:cc="http://creativecommons.org/ns#" property="cc:attributionName">Andrew Duckworth</span> is licensed under a <a rel="license" href="http://creativecommons.org/licenses/by-nc-sa/4.0/">Creative Commons Attribution-NonCommercial-ShareAlike 4.0 International License</a>.

<% end %>