---
title: About
---

<h1><%= current_page.data.title %></h1>

<p class="lead">Andrew Duckworth</p>
<p>This project...</p>

<% content_for :sidebar_right do %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Sections</h3>
  </div>
  
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
  </ul>
</div>
<% end %>