---
title: NHS Development Toolkit
---

<h1><%= current_page.data.title %></h1>

<p class="lead">The NHS toolkit is a collection of articles, resources and downloads to help people create better digital services for the NHS</p>
<p>The toolkit is cut into seperate modules that help shape some advice and guidance on building cost effective, user focused digital products - regardless of whether that product is for medical practitioners, related professionals, patients or the general public.</p>
<p>Available modules:</p>
<ul>
  <% data.modules.module.each do |x| %>
        <li><%= link_to x['title'],  x['slug'] %></li>
  <% end %>
</ul>

<% content_for :sidebar_right do %>
<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title">Sections</h3>
  </div>
  
  <ul class="list-group">
    <li class="list-group-item">Cras justo odio</li>
  </ul>
</div>

<%= partial "partials/sidebar-module.html.erb" %>

<% end %>